/* Variables */

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-accent: #2196f3;
  --color-accent-active: #188ce8;
  --color-primary-text: #757575;
  --color-secondary-text: #212121;
  --color-transparent-text: rgba(255, 255, 255, 0.6);
  --color-bg-dark: #2f303a;
  --color-bg-light: #f5f4fa;
}

/* Global */

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-primary-text);
  background-color: var(--color-white);
}

/* Reset */

.btn-reset {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.list-reset {
  list-style: none;
}

/* Button */

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--color-white);
  background-color: var(--color-accent);
}

.btn:hover,
.btn:focus {
  background-color: var(--color-accent-active);
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: var(--color-secondary-text);
  background-color: var(--color-bg-light);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--color-white);
  background-color: var(--color-accent);
}

/* Logo */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-header {
  color: var(--color-secondary-text);
}

.logo-footer {
  color: var(--color-white);
}

.logo-text {
  color: var(--color-accent);
}

/* Title */

.title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-secondary-text);
}

/* Header */

.header-link,
.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.header-link {
  color: var(--color-secondary-text);
  text-decoration: none;
}

.header-mail,
.header-number {
  color: inherit;
  text-decoration: none;
}

.header-link:hover,
.header-link:focus,
.header-contacts a:hover,
.header-contacts a:focus {
  color: var(--color-accent);
}

/* Hero */

.hero {
  background-color: var(--color-bg-dark);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}

/* Features */

.features-title {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-secondary-text);
}

.features-descr {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

/* Command */

.command {
  background-color: var(--color-bg-light);
}

.command-title {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-secondary-text);
}

.command-descr {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}

/* Portfolio */

.portfolio-link {
  text-decoration: none;
  color: inherit;
}

.portfolio-title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--color-secondary-text);
}

.portfolio-subtitle {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
}

/* Footer */

.footer {
  background-color: var(--color-bg-dark);
}

.footer-contacts {
  font-size: 14px;
  font-style: normal;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.footer-address {
  color: var(--color-white);
  text-decoration: none;
}

.footer-mail,
.footer-number {
  color: var(--color-transparent-text);
  text-decoration: none;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--color-accent);
}
